.header-container {
  position: relative;
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffaf4;
  padding: 0px 20px;
  box-sizing: border-box;
}

.back-button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  cursor: pointer;
  z-index: 10;
}

.back-button img {
  width: 40px;
  height: 40px;
}

.header-container h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin: 0;
  max-width: 70%; 
  line-height: 1.3;
}

@media (max-width: 400px) {
  .header-container {
    height: 70px;
  }
  .header-container h2 {
    font-size: 18px;
    max-width: 60%;
  }
  .back-button {
    left: 20px;
  }
  .back-button img {
    width: 35px;
    height: 35px;
  }
}