.header-container {
    display: flex;
    align-items: center;
    gap: 100px;
    position: relative;
    width: 100%;
    justify-content: center;
}

.back-button {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 10px;
}

.header-container h2 {
    font-size: 52px;
    font-weight: 700;
    color: #333;
    margin: 0;
    justify-content: center;
    padding-right: 120px;
}