.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 40px;
    background-color: #FFFAF4;
    position: relative;
}

.logo{
    width: clamp(140px, 60vw, 450px);
    height: auto;
    margin-bottom: 50px;
    margin-top: 40px;
    box-sizing: border-box;
}

.login-input {
    width: clamp(150px, 60vw, 450px);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2px solid #FF853A;
    box-sizing: border-box;
}

.login-button{
    display:flex;
    width: clamp(150px, 60vw, 450px);
    padding: 20px;
    border-radius: 10px;
    border: None;
    background-color: #FF853A;
    color:#fff;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: None;
    justify-content: center;
    box-sizing: border-box;
}

.login-button:hover {
    opacity: 0.9;
}

.register, .register a, .password {
    font-size: 12px;
    margin-top: 20px;
    color: #000000;
}

.register a {
    font-weight: bold;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 250, 244, 0.6);
    backdrop-filter: blur(5px);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-card {
    background: #fff;
    width: 85%;
    max-width: 350px;
    padding: 30px 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.warning-icon {
    width: 50px;
    margin-bottom: 7px;
}

.modal-card h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #000;
}

.modal-desc {
    font-size: 14px;
    color: #000;
    line-height: 1.5;
    margin-bottom: 25px;
}

.modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.btn-outline, .btn-outline-red {
    flex: 1;
    background: white;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 10px 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.btn-outline {
    border-color: #D68F86;
    color: #D68F86;
}

.btn-outline-red {
    border-color: #FF4545;
    color: #FF4545;
}