.bahan-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding: 65px 50px 120px;
    background-color: #FFFAF4;
    position: relative;
}

.header-bahan {
    display: flex;
    align-items: center;
    gap: 100px;
    position: relative;
    width: 100%;
    justify-content: center;
}

.header-bahan h2 {
    font-size: 28px;
    font-weight: 700;
    color: #333;
    margin: 0;
    justify-content: center;
    padding-right: 120px;
}

.icon-back {
    position: absolute;
    top: 9px;
    left: -10px;
    width: 30px;
    height: auto;
    z-index: 100;
}

.input-box {
    background-color:#FFF;
}
