.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 40px;
    background-color: #FFFAF4;
}

.register-text{
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}

.logo{
    width: clamp(140px, 60vw, 450px);
    height: auto;
    margin-bottom: 40px;
    margin-top: 35px;
}

.register-input {
    width: clamp(150px, 60vw, 450px);
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 2px solid #FF853A;
}

.register-button, .register-button a {
    width: clamp(140px, 60vw, 450px);
    padding: 20px;
    border-radius: 10px;
    border: None;
    background-color: #FF853A;
    color:#fff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition:0.2s;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: None;
}

.login, .login a, .password a {
    font-size: 12px;
    margin-top: 20px;
    color: #000000;
    cursor: pointer
}