.splash-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background: linear-gradient(135deg, #FF3535 0%, #FF7070 30%, #FF8F4C 65%, #FF5F00 100%)
}

.splash-logo {
    width: 160px;
    transform-origin: center center;
    animation:
        slideIn 2.5s cubic-bezier(0.16, 0.8, 0.3, 1.10) forwards,
        zoomIn 0.8s ease 1.5s forwards;
}

@media(max-width:480px){
    .splash-logo{
        width: 120px;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(100vw) scale(0.9);
        opacity: 0.25;
    }
    100% {
        transform: translateX(0) scale(1)!important;
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}